<div class="content">
    <h1>About me</h1>
    <div class="fadein" id="about-me">
    	<div>
        <h2>Who I am</h2>
        <ul>
        		<li>Follow me on <a href="http://twitter.com/#/FranckErnewein">Twitter</a></li>
        		<li>Check my projects on <a href="https://github.com/FranckErnewein">Github</a></li>
        		<li>Mail me on Gmail : <a href="" id="email">franck(dot)ernewein(at)gmail(dot)com</a></li>
        </ul>
		</div>
    	<div>
	        <h2>What I Like</h2>
	        <ul>
	        		<li>UX</li>
	        		<li>UI</li>
	        		<li>Design</li> 
	        		<li>Digital Arts</li>
	        </ul>
    	</div>
        
     <div>
        <h2>What I Do</h2>
        <ul>
        		<li>Javascript<em>Backbone, jQuery, Processingjs</em></li>
        		<li>HTML5</li>
        		<li>CSS</li> 
        </ul>
    </div>
      
      <div>  
        <h2>What I Know</h2>
        <ul>
        		<li>PHP</li>
        		<li>MySQL</li>
        		<li>Java<em>J2EE, Richfaces</em></li>
        		<li>Flash<em>ActionScript 2 & 3</em></li>
        </ul>
       </div> 
      <div>
        <h2>What I Tried</h2>
        <ul>
        		<li>Ruby</li>
        		<li>CouchDB</li>
        		<li>NodeJS</li>
        </ul>
      </div>  
		<div>
        <h2>What I Hate</h2>
        <ul>
        		<li>IE6.</li>
        </ul>
		</div>        
		
       <div>
        <h2>What else ?</h2>
        <ul>
        		<li>You can download my <a href="#">CV</a> (word)</li>
        		<li> </li>
        		<li>I'm on <a href="http://soundcloud.com/franckernewein">Soundcloud</a> too.</li>
        </ul>
       </div>
        
        
    </div>
    
</div>