<div id="home" class="content">
	
    
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <!--
    <h1>Hello >_</h1>
    <div class="details">
        
        <div>
            <a href="#sketch">
                <% app.collection.sketchs.each(function(model){ %>
                    <img src="img/sketch/<%= model.id %>.png" />
                <% }); %>
                <img src="img/next_sq.png"/>
            </a>
        </div>
        

    </div>
    -->
	
	<div class="square"></div>
</div>