<div id="works-page" class="content">
    <h1>Works</h1>
    <div class="fadein">
        <div class="iphone fl">
            
            <div class="mask"></div>
            <div class="screen">

                <ul class="thumbs-works">
                <% _.each(this.collection.getMobiles(), function(model){ %>
                    <li>
                        <a href="#work/<%= model.id %>"><%= model.get('title') %></a>
                    </li>
                <% }); %>
                </ul>
            </div>
        </div>
        <div class="imac fl">
            
            
            <div class="mask"></div>
            <div class="screen">

                <ul class="thumbs-works">
                <% _.each(this.collection.getWebsites(), function(model){ %>
                    <li>
                        <a href="#work/<%= model.id %>"><%= model.get('title') %></a>
                    </li>
                <% }); %>
                </ul>
            </div>
        </div>
        
    </div>
    
</div>