html,body{width:100%;height:100%;overflow:hidden;font-family:Lucida Console,sans-serif;}
canvas{display:block;margin:0;padding:0;}
#global{position:absolute;width:100%;height:100%;overflow:hidden;background:#000}


#nav{position:absolute;height:100%;width:20%;background:rgba(255,255,255,0.9);text-transform:uppercase;color:000;font-size:12px;text-align:left;}
#nav h1 a{display:block;font-size:18px;padding:10px 0 0 0;color:#000;text-decoration:none !important;border-bottom:1px solid #000;}
#nav h2{font-size:11px;margin-bottom:20px;}
#nav ul{padding:5% 0;text-align:left;}
#nav ul li{margin:15px 0;}
#nav ul li a{display:inline-block;padding:0 4px;text-decoration:none;color:#000;border-left:120px solid #000;}
#nav ul li ul{padding:0;display:none;}
#nav ul li ul.on{display:block;}
#nav ul li ul li{padding:0;margin:5px 0 5px 0;margin:0;border-bottom:1px solid #ddd;}
#nav ul li ul li a{display:block;padding:4px 0 4px 25px;border:0 none #eee;text-transform:none;}
#nav ul li ul li a:hover{background:yellow;color:#000;}
/*#nav ul li a:hover{background:rgba(0,0,0,0.8);color:#fff;}*/
#nav a:hover{background:#000;color:#fff;}

.articles{position:absolute;top:5%;left:20%;}

.articles article{background:rgba(255,255,255,0.9);padding:15px;margin:30px;font-size:12px;float:left;}
.articles article h3{border-bottom:6px solid #000;margin-bottom:15px;}

#content{position:absolute;width:100%;height:100%;overflow:hidden;background:#fff;}
#content{position:absolute;width:100%;height:100%;}

#content img.bg{width:100%;}
#content iframe{opacity:0.4}

#content .trame{position:absolute;height:100%;width:100%;}
#content .info{position:absolute;left:20%;bottom:0%;width:80%;background:rgba(0,0,0,0.4);font-size:12px;}
#content .info h2{padding:10px;text-transform:uppercase;background:#fff;}
#content .info h2 a{text-transform:none;font-family:monospace;color:#000;}
#content .info p{padding:10px;}
#content .info h3{padding:10px;text-transform:uppercase;}
#content .info ul{padding:0 10px;}
#content .info li{padding:2px 0;}

#content .cloud{position:absolute;font-size:12px;top:5%;left:25%;height:20%;width:20%;background:rgba(0,0,0,0.5);color:#fff;padding:10px 30px;}

#content .ct-info{padding:15px 1% 20px 1%;font-size:12px}
#content .ct-info a,
#content .ct-info span{display:inline-block;padding:10px 15px;margin-right:5px;background:yellow;color:#000;font-family:monospace;}
#content .ct-info a{margin-right:30px;}
#content .ct-info a:hover{color:#000;background:#fff;}
#content .ct-info span{float:right;}

#content .next{position:absolute;right:2%;top:40%;background:rgba(255,255,255,0.95);padding:5px 0 3px 0;width:50px;text-align:center;}
#content .prev{position:absolute;left:22%;top:40%;background:rgba(255,255,255,0.95);padding:5px 0 3px 0;width:50px;text-align:center;}
#content .next:hover,
#content .prev:hover{background:rgba(0,0,0,0.9);}


#content .box{position:absolute;top:10%;left:300px;font-size:11px;}
#content .box h2{font-size:14px;text-transform:uppercase;background:yellow;padding:2px;}
#content .box h3{padding:1px;font-size:12px;margin-bottom:2px;text-transform:uppercase;border-bottom:4px solid #000;}
#content .box a{color:#000;}
#content .box a:hover{background:yellow;}
#content .box a img{opacity:0.1;}
#content .box a:hover img{opacity:1;}
