<section class="content">
    <h1>About me</h1>
    <div class="fadein" id="about-me">
    	<section>
        <h2>Who I am</h2>
        <ul>
        		<li>Follow me on <a target="_blank" title="(new tab)" href="http://twitter.com/#/FranckErnewein">Twitter</a></li>
        		<li>Check my projects on <a target="_blank" title="(new tab)" href="https://github.com/FranckErnewein">Github</a></li>
        		<li>Contact me at : <a href="#" id="email">franck(dot)ernewein(at)gmail(dot)com</a></li>
        </ul>
		</section>
    	<section>
	        <h2>What I Like</h2>
	        <ul>
	        		<li><abbr title="User eXperience">UX</abbr></li>
	        		<li><abbr title="User Interface">UI</abbr></li>
	        		<li>Design</li> 
	        		<li>Digital Arts</li>
	        </ul>
    	</section>
        
     <section>
        <h2>What I Do</h2>
        <ul>
        		<li>Javascript<em>Backbone, jQuery, Processingjs</em></li>
        		<li><abbr title="HyperText Markup Language v5">HTML5</abbr><em>W3C & WHATWG standards</em></li>
        		<li><abbr title="Cascading Style Sheet">CSS</abbr></li> 
        </ul>
    </section>
      
      <section>  
        <h2>What I Know</h2>
        <ul>
        		<li><abbr title="Preprocesseur Hypertext">PHP</abbr></li>
        		<li>MySQL</li>
        		<li>Java<em>J2EE, Richfaces</em></li>
        		<li>Flash<em>ActionScript 2 & 3</em></li>
        </ul>
       </section> 
      <section>
        <h2>What I Tried</h2>
        <ul>
        		<li>Ruby</li>
        		<li>CouchDB</li>
        		<li>NodeJS</li>
        </ul>
      </section>  
		<section>
        <h2>What I Hate</h2>
        <ul>
        		<li><abbr title="Internet Explorer 6">IE6</abbr>.</li>
        </ul>
		</section>        
		
       <section>
        <h2>What else ?</h2>
        <ul>
        		<li>You can download my <a  title="Curiculum Vitae (word)" href="cv-franck.ernewein.doc"><abbr>CV</abbr></a> (word)</li>
        		<li> </li>
        		<li>I'm on <a target="_blank" title="(new tab)" href="http://soundcloud.com/franckernewein/favorites">Soundcloud</a></li>
        		<li>and on <a target="_blank" title="(new tab)" href="http://franckernewein.tumblr.com">Tumblr</a> too.</li>
        </ul>
       </section>
        
        
    </div>
    
</section>
