<section id="sketch-page" class="content">
    <h1>Sketch</h1>
    <div class="fadein">
        
        <nav>
            <ul class="thumbs">
            <% this.collection.each(function( model ){ %>
	            <li>
	                <a href="#sketch/<%= model.id %>">
	                    <img alt="<%= model.get('title') %>" src="img/sketch/m_<%= model.id %>.png" />
	                    <span><%= model.get('title') %></span>
	                </a>
	            </li>
            <% }); %>
            <ul>
        </nav>
        
        <p class="clr">
        		<br />
	        	<br />
            Here you can find some personal <a target="_blank" title="(new tab)" href="http://processing.org/">Processing</a> experiments<br />
            <br />
            The sketchs are displayed with <a target="_blank" title="(new tab)" href="http://processingjs.org/">Processingjs</a>.
        </p>
			<br />
        <p>You can check the source code on <a target="_blank" title="(new tab)" href="https://github.com/FranckErnewein/perso/tree/master/processing">Github</a></p>
    </div>
</section>